.page {
  height: 100vh;

  @media screen and (min-width: 640px) {
    //overflow: hidden;
  }

  div:last-child {

    .btn-add-color {
      display: none;
    }
  }
}

.test-shades {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: stretch;

  .shades {
    flex-grow: 1;

    .shade-text {
      display: none;
      font-size: 20px;
    }

    &:hover>.shade-text {
      display: block;
    }
  }
}

.shade {
  height: 100%;
}

.color-box {
  height: 100%;
  box-shadow: rgb(101 98 86) 0px 0px 0px 1px;
  transition: all .5s ease-in-out;

  .cdk-drag-preview {
    border: 1px solid #000;;
  }

  .inner-box {
    height: 100vh;

    &:hover > .menu {
      display: flex;
    }

    .left-bar {
      position: relative;
      height: 100vh;
      width: 100px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      left: -50px;

      &:hover > .btn-add-color {
        transform: scale(1);
      }

      &:hover > .btn-add-gradient {
        transform: scale(1);
      }

      .btn-add-color {
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        width: 50px;
        height: 50px;
        background-color: #fff;
        transition: all .2s;
        display: flex;
        transform: scale(0);
        margin-bottom: 10px;
      
        .btn-add-icon {
          padding-top: 5px;
          padding-left: 10px;
          font-size: 30px;
          color: #000;
        }
      }

      .btn-add-gradient {
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        width: 50px;
        height: 50px;
        background-color: #fff;
        transition: all .2s;
        display: flex;
        transform: scale(0);

        .btn-gradient-icon {
          padding-top: 5px;
          padding-left: 10px;
          font-size: 30px;
          color: #000;
        }
      }
    }

    .menu {
      width: 100%;
      position: relative;
      bottom: 60%;
      left: 50%;
      height: 50%;
      transform: translateX(-50%);
      display: flex;
      flex-direction: column;
      margin: 30px 0;
      justify-content: space-around;
      align-items: center;

      &:hover > .icons {
        visibility: visible;
      }

      .icons {
        height: 300px;
        width: 40px;
        display: flex;
        visibility: hidden;
        flex-direction: column;
        justify-content: space-between;

        .mat-tooltip {
          font-size: 3rem !important;
          background-color: red !important;
        }

        
        .box-icon {
          text-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
          font-size: 2.3rem;
          opacity: 0.6;
          cursor: pointer;
  
          &:hover {
            opacity: 1;
          }
        
          &.is-locked {
            opacity: 1;
            visibility: visible !important;
          }
        }
      }
      .infos {
        width: 100%;
        text-align: center;
        font-size: 36px;
        text-transform: uppercase;
      }
    }

    .shades {
      width: 100%;
      height: 100vh;
      position: relative;
      top: -100%;
      left: 0;
      display: flex;
      flex-direction: column;
      justify-content: stretch;
      align-items: center;
      box-shadow: rgb(101 98 86) 0px 0px 0px 1px;

      div {
        flex-grow: 1;
        width: 100%;
        align-self: center;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        &:hover > .shade-text {
          visibility: visible;
        }
      }

      .shade-text {
        font-size: 1.5rem;
        text-align: center;
        width: 100%;
        text-transform: uppercase;
        padding: 10px 0 0 0;
        visibility: hidden;

        &.current {
          visibility: visible;
        }
      }
    }
  }
}

.testing {
  border: 1px solid #000;
  background-color: yellow;
  flex-grow: 0;
  transition: all 1s;
  width: 10px;
}

.tested {
  flex-grow: 1;
}
// @keyframes expand {
//   from {
//     transform: scale(0);
//     opacity: 0;
//     background: #5470B0;
//   }
// }

.left-bar {
  // background-color: red;
  height: 100vh;
  width: 70;
  position: relative;
  left: -35px;
  display: flex;
}