<div class="columns m-0 page">
    <!-- <app-box *ngFor="let box of boxes" class="column p-0" [color]="box.color"></app-box> -->
    <div class="column m-0 p-0 color-box" @testTransition [ngStyle]="{ backgroundColor: box.hex, color: box.textColor }"
        *ngFor="let box of boxes; let i = index">
        <div class="inner-box">
            <div class="left-bar" >
                <button  *ngIf="i > 0 && boxes.length < 8" mat-icon-button (click)=newColor(box) class="btn-add-color" style="z-index: 999;">
                    <mat-icon class=btn-add-icon>add</mat-icon>
                </button>
            </div>
            <div class="menu">
                <div class="icons">
                    <mat-icon class="box-icon">palette</mat-icon>
                    <mat-icon (click)=copyToClipboard(box) class="box-icon">content_copy</mat-icon>
                    <mat-icon aria-hidden="false" aria-label="Example home icon" class="box-icon" [ngClass]="{ 'is-locked': box.isLock }" (click)="box.isLock = !box.isLock">lock</mat-icon>
                    <mat-icon aria-hidden="false" aria-label="Example home icon" class="box-icon" (click)="removeColor(box)" *ngIf="boxes.length > 2">close</mat-icon>
                </div>
                <div class="infos">
                    <p>{{ box.hex }}</p>
                </div>
            </div>
        </div>
        <!-- <div class="test-shades" *ngIf="showShades">
            <div class="shades" *ngFor="let shade of shades" [ngStyle]="{'background-color': shade}">
                <div class="shade-text">{{ shade }}</div>
            </div>
        </div> -->
    </div>
</div>